{% extends "base.html" %}

{% block content %}

<div class="container py-5">
<div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card bg-dark text-light border-secondary">

                <div class="card-body p-4">

    <h1>
        {{ profile.producer_name }}
    </h1>

    <p>
        {{ profile.bio }}
    </p>

    <p>
        Genre: {{ profile.genre }}
    </p>

    <p>
        Location: {{ profile.location }}
    </p>

    <a
        href="{% url 'producer_edit_profile' %}"
        class="btn btn-primary"
    >
        Edit Profile
    </a>

</div>
</div>
</div>
</div>
</div>

{% endblock %}