{% extends "base.html" %}

{% block content %}

<div class="container py-5">
<div class="row justify-content-center">
    <form
    method="POST"
    action="{% url 'toggle_follow' profile.user.id %}"
>

    {% csrf_token %}

    {% if request.user in profile.user.users_followers.all %}

        <button class="btn btn-outline-secondary">
            Following
        </button>

    {% else %}

        <button class="btn btn-primary">
            Follow
        </button>

    {% endif %}

</form>

        <div class="col-lg-8">

            <div class="card bg-dark text-light border-secondary">

                <div class="card-body p-4">

    <h1>
        {{ profile.artist_name }}
    </h1>

    <p>
        {{ profile.bio }}
    </p>

    <p>
        Genre: {{ profile.genre }}
    </p>

    <p>
        Location: {{ profile.location }}
    </p>

    <a
        href="{% url 'artist_edit_profile' %}"
        class="btn btn-primary"
    >
        Edit Profile
    </a>

</div>
</div>
</div>
</div>
</div>

{% endblock %}