{% extends "base.html" %}

{% block title %}
Producer Dashboard
{% endblock %}

{% block content %}

<div class="dashboard-wrapper">

    <aside class="sidebar">

        <!-- <div class="brand">
            <i class="bi bi-music-note-beamed"></i>
            BeatPalace
        </div> -->


        <nav>

            <a class="active">
                <i class="bi bi-grid"></i>
                Dashboard
            </a>

            <a
                href="{% url 'discover' %}"
                class="nav-link"
            >
                <i class="bi bi-compass"></i>
                <span>Discover</span>
            </a>

            <a href="{% url 'upload_music' %}">
                <i class="bi bi-upload"></i>
                Upload Song
            </a>

            <a href="{% url 'my_music' %}">
                <i class="bi bi-music-note-list"></i>
                My Beats
            </a>

            <a>
                <i class="bi bi-bag"></i>
                Orders
            </a>

            <a>
                <i class="bi bi-people"></i>
                Artists
            </a>

            <a>
                <i class="bi bi-chat"></i>
                Messages
            </a>

            <a>
                <i class="bi bi-bar-chart"></i>
                Analytics
            </a>

            <a>
                <i class="bi bi-wallet2"></i>
                Earnings
            </a>

        </nav>


        <div class="sidebar-bottom">

            <a
            href="{% url 'producer_edit_profile' %}"  target="_blank"
            class="btn btn-outline-light"
                    >
                <i class="bi bi-pencil"></i>
                Edit Profile
            </a>

            <a>
                <i class="bi bi-gear"></i>
                Settings
            </a>

           <a class="mb-3">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">
                        <i class="bi bi-box-arrow-right me-2"></i>
                        Logout
                    </button>
                </form>
            </a>

        </div>

    </aside>


    <main class="dashboard-content">

        <header class="dashboard-header">

            <div>

                <h3>
                    Welcome back,
                    {{ user.username }}
                </h3>

                <p>
                    Here's what's happening with your music.
                </p>

            </div>


            

        </header>


        <div class="row g-4 mt-2">

            <div class="col-md-4">

                <div class="stat-card">

                    <i class="bi bi-music-note"></i>

                    <span>
                        Total Beats
                    </span>

                    <h2>0</h2>

                </div>

            </div>


            <div class="col-md-4">

                <div class="stat-card">

                    <i class="bi bi-bar-chart"></i>

                    <span>
                        Total Streams
                    </span>

                    <h2>0</h2>

                </div>

            </div>


            <div class="col-md-4">

                <div class="stat-card">

                    <i class="bi bi-wallet2"></i>

                    <span>
                        Earnings
                    </span>

                    <h2>₦0</h2>

                </div>

            </div>

        </div>


        <div class="content-card mt-4">

            <div class="card-header-custom">

                <h5>
                    Producer Engagement
                </h5>

                <a href="{% url 'upload_music' %}" class="btn btn-primary">
                    Upload Beat
                </a>

            </div>


            <div class="engagement-grid">

                <div>
                    <i class="bi bi-people"></i>
                    <strong>0</strong>
                    <span>Artists following you</span>
                </div>

                <div>
                    <i class="bi bi-person-plus"></i>
                    <strong>0</strong>
                    <span>Collaboration requests</span>
                </div>

                <div>
                    <i class="bi bi-chat-dots"></i>
                    <strong>0</strong>
                    <span>Unread messages</span>
                </div>

            </div>

        </div>

    </main>

</div>

{% endblock %}